body {
	font-size: 12px;
	margin: 5px;
	padding: 0;
	color: black;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.texto-vermelho {
  color: red !important;
}

.texto-azul {
  color: blue !important;
}

.coluna-data-vermelha {
	width: 40px;
	text-align: center !important;
	color: red;
}

.coluna-data-verde {
	width: 40px;
	text-align: center !important;
	color: green;
}

.coluna-valor {
	width: 50px;
	text-align: right !important;
}

.coluna-parcela {
	width: 35px;
	text-align: right !important;
}

.coluna-tipo {
	width: 40px;
}

.botao-texto {
	font-size: 12px;
}