<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view locale="#{userSettingsMB.language}">
	<h:head>
		<title>#{msg['label.nome.sistema']}</title>
	</h:head>
	<h:body>
		<h:outputStylesheet name="default.css" library="css" />

		<p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" />
		
		<p:growl id="aviso" showDetail="true" globalOnly="true" autoUpdate="true" showSummary="false" />

		<p:dialog modal="true" widgetVar="statusDialog" header="Processando, aguarde" draggable="false" closable="true">
			<p:graphicImage value="/resources/image/ajaxloadingbar.gif" />
		</p:dialog>

		<ui:insert name="menu" />
		
			<p:toolbar id="toolbarMenu" styleClass="botao-texto">
    			<f:facet name="left">
    				<p:button type="button" value="Timeline" href="/index.xhtml" style="font-size: 14px; font-weigth: bold;" />
        			<p:button type="button" value="Biblioteca de Músicas" href="/bibliotecaMusica.xhtml" style="font-size: 14px; font-weigth: bold;" />
    			</f:facet>
    			
    			<f:facet name="right">
    				<h:outputText value="Usuário: #{timelineMB.usuario.nome}" style="font-size: 14px; font-weigth: bold; margin-right:10px;" />
    			</f:facet>
    		</p:toolbar>

		<ui:insert name="body" />
	</h:body>
</f:view>
</html>