<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="#{userSettingsMB.layout}">

	<ui:define name="body">
		<table style="width: 100%">
			<tr>
				<td valign="top">

					<h:form id="formBibliotecaMusicas">
						<p:spacer height="15"></p:spacer>
					
				        <p:dataTable id="listaBibliotecaMusicas" value="#{bibliotecaMusicaMB.listaBibliotecaMusicas}" var="c" emptyMessage="Nenhum música cadastrada!">
            				<p:column headerText="Nome">
								<h:outputText value="#{c.musica.nome}" />
							</p:column>

            				<p:column headerText="Artista">
								<h:outputText value="#{c.musica.artista.nome}" />
							</p:column>

							<p:column headerText="Álbum">
								<h:outputText value="#{c.musica.album.nome}" />
							</p:column>
							
							<p:column headerText="Faixa">
								<h:outputText value="#{c.musica.faixa}" />
							</p:column>
									
							<p:column headerText="Data Lançamento">
								<h:outputText value="#{c.musica.dtLancamento}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
						</p:dataTable>

				   	</h:form>

				</td>
			</tr>
		</table>
	</ui:define>

</ui:composition>