<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="#{userSettingsMB.layout}">

	<ui:define name="body">
		<table style="width: 100%">
			<tr>
				<td valign="top">

					<h:form id="formMusica">
				        <p:dataGrid id="listaMusica" value="#{timelineMB.listaMusicas}" var="c" columns="4" emptyMessage="Nenhum música cadastrada!">
							<f:facet name="header">
								<h:outputText value="#{timelineMB.timeline.nome} - " />
								<h:outputText value="#{timelineMB.timeline.dtInicial}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								<h:outputText value=" à " />
								<h:outputText value="#{timelineMB.timeline.dtFinal}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</f:facet>
							
  							<p:panel header="#{c.nome}" style="text-align:center">
            					<h:panelGrid columns="1" style="width:100%">
            						<h:column>
										<h:outputText value="Artista: " styleClass="bold" />
										<h:outputText value="#{c.artista.nome}" />
									</h:column>

									<h:column>
				 						<h:outputText value="Álbum: " styleClass="bold" />
										<h:outputText value="#{c.album.nome}" />
									</h:column>
									
									<h:column>
										<h:outputText value="Data Lançamento: " styleClass="bold" />
										<h:outputText value="#{c.dtLancamento}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</h:column>
									
									<h:column>
										<p:commandLink title="Gostei" action="#{timelineMB.actionLike}" update="@form" rendered="#{c.preferencial}">
											<f:setPropertyActionListener target="#{timelineMB.musicaSelecionada}" value="#{c}" />
                    						<p:graphicImage name="/image/p-gostei.png" />
                						</p:commandLink>
										<p:commandLink title="Gostei" action="#{timelineMB.actionLike}" update="@form" rendered="#{!c.preferencial}">
											<f:setPropertyActionListener target="#{timelineMB.musicaSelecionada}" value="#{c}" />
                    						<p:graphicImage name="/image/gostei.png" />
                						</p:commandLink>
										<p:commandLink title="Não Gostei" action="#{timelineMB.actionNoLike}" update="@form">
											<f:setPropertyActionListener target="#{timelineMB.musicaSelecionada}" value="#{c}" />
                    						<p:graphicImage name="/image/n-gostei.png" />
                						</p:commandLink>
                					</h:column>
            					</h:panelGrid>
        					</p:panel>
        					
						</p:dataGrid>
				   	</h:form>

				</td>
			</tr>
		</table>
	</ui:define>

</ui:composition>